html {
  min-height: 100%;
  position: relative;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

.compose-btn{
  color: #1abc9c!important;
  letter-spacing: 5px;
  font-size: 12px;
  margin-left: 10px;
}

.compose-btn a{
  color: #1abc9c!important;
}

.compose-btn:hover{
  color: white!important;
  text-decoration: none;
}
.compose-btn a:hover{
  color: white!important;
  text-decoration: none;
}

