body{
    font-family: 'Montserrat';
    text-align: center;
}
#title
{
    text-align: left;
}

#title .container-fluid
{
    padding: 3% 15% 7%;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Montserrat';
    font-weight: bold;
   
}

.container-fluid
{
    padding: 7% 15%;
}

/* Title sections */

.big-heading
{
    font-size: 3.5rem;
    line-height: 1.5;
    padding-bottom: 3%;
}

.section-heading
{
    font-size: 3rem;
    line-height: 1.5;
}

/* Sections */

.coloured-section
{
    background-color: #ff4c68;
    color: white;
}

.white-section
{
    background-color: white;
}

/* Navigation Bar */

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar
{
    padding: 0 0 4.5rem;
}

.nav-item
{
    padding: 0 18px;
}

.nav-link
{
    font-size: 1.2rem;
}

/* Download Buttons */

.download-button
{
    margin: 5% 3% 5% 0;
}

/* Title Image */
.title-img
{
    -ms-transform: rotate(25deg); /* IE 9 */
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 20%
}


.feature-heading
{
    font-size: 1.5rem;
}

.icons
{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icons:hover
{
    color: #ff4c68;
}

.desc
{
    color: #8f8f8f;
}

#features
{
    line-height: 1.5;
    position: relative;
    z-index: 1;
}


#testimonials
{
    background-color: #ef8172;

}

.price-txt
{
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-text
{
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-img
{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

#press
{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo
{
    width: 15%;
    margin: 20px 20px 58px;
}

/* Pricing Section */
#pricing
{
    padding: 100px;
}

.pricing-column
{
    padding: 3% 2%;
}

@media (max-width: 1020px) 
{
    
    #title
    {
        text-align: center;
    }

    .title-img
    {
        position: static;
        transform: rotate(0);
    }
}


/* Footer Section */

.copyright
{
    font-size: 15px;
    padding-top: 6px;
    color: #8f8f8f;
}

.footer-icons
{
   margin: 20px 10px;
}