
<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p> <%= startingContent %> </p>
  <div class="row">
    <%  posts.forEach(function(post){ %>
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
           <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success"><%=post.title%></strong>
              <!-- <div class="mb-1 text-muted small">Nov 11</div> -->
              <p class="card-text mb-auto"><%=post.content.substring(0, 100) + " ..."%></p>
              <a class="btn btn-outline-success btn-sm" href="/posts/<%=post._id%>">Read More</a>
           </div>
           <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="data:image/<%=post.img.contentType%>;base64,<%=post.img.data.toString('base64')%>" style="width: 200px; height: 250px;">
           <!-- <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="//placeimg.com/250/250/nature" style="width: 200px; height: 250px;"> -->
        </div>
     </div>
  
      <% }) %>
  </div>
 
   
<%- include("partials/footer"); -%>



