<%- include("partials/header"); -%>
<section class="vh-100 login" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem; background-color: #f8f9fa;" >
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Sign in</h3>
              <form action="/login" method="POST">
                <div class="form-outline mb-4">
                    <input type="email" id="typeEmailX-2" class="form-control form-control-lg" placeholder="Email" name="username" />
                   
                  </div>
      
                  <div class="form-outline mb-4">
                    <input type="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="Password" name="password"/>
                    
                  </div>
      
                  <button type="submit" class="btn btn-primary btn-lg btn-block" type="submit">Login</button>

              </form>
  
              <hr class="my-6">
  
              <a href="/auth/google" class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39; border: none;" type="submit"><i class="fab fa-google me-2"></i> Sign in with Google</a>
              <!-- <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;" type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button> -->
  
              <div>
                <p class="mt-2 mb-0">Want to add a new account? <a href="/signup" class="text-white-50 fw-bold">Create one here</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include("partials/footer"); -%>