
<%- include("partials/header"); -%>
    <div class="row">
      <div class="col-6">
        <h1>Compose</h1>
      </div>

      <div class="col-6">
        <a href="/logout" class="float-right btn btn-outline-danger"><i class="fal fa-sign-out"> Logout</i></a>
      </div>
    </div>
    
    <form class="" action="/compose" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle">
        <label>Image</label>
        <br>
        <input type="file" id="image" name="image" value="" required>
        <br>
        <label>Post</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>

<%- include("partials/footer"); -%>
