<%- include("partials/header"); -%>
<img class="rounded mx-auto d-block" src="data:image/<%=img.contentType%>;base64,<%=img.data.toString('base64')%>" style="height: 250px;">
  <h1><%=title%></h1>
  <p><%=content%></p>
  

<%- include("partials/footer"); -%>
