<%- include("partials/header"); -%>
<h1>Contact</h1>
<!-- <form action="/compose" method="post">
        <input type="text" name="title">
        <button type="submit" name="button">Publish</button>
    </form> -->

<form action="/compose" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" id="" />
  </div>
  <div class="form-group">
    <label for="post">Post</label>
    <textarea id="" name="postBody" rows="4" cols="50" class="form-control"></textarea
    >
  </div>
  <button type="submit" class="btn btn-primary">Publish</button>
</form>
<%- include("partials/footer"); -%>
